<app-navbar></app-navbar>
<table class="table table-hover">
  <thead>
  	<tr>
      <th scope="col">Nombre</th>
      <th scope="col">DNI</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Fecha de fin</th>
      <th scope="col">Cobrado</th>
    </tr>
    <tr>
      <th scope="col"><input type="text" class="form-control" placeholder="Nombre"></th>
      <th scope="col"><input type="text" class="form-control" placeholder="DNI"></th>
      <th scope="col"><input type="date" class="form-control"></th>
      <th scope="col"><input type="date" class="form-control"></th>
      <th scope="col"><input type="checkbox" ></th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
